################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeatherMonitoring/v16
/.vs/WeatherMonitoring/config/applicationhost.config
/.vs/WeatherMonitoring/config
